.lowBalance {
  background-color: #ff4569;
}

.highBalance {
  background-color: #6fbf73;
}

.balance {
  width: max-content;
  height: 10%;
  margin: 20px;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  box-shadow: 0 0 3px black;
}

.transactions-table {
  margin: 15px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.categories-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category-container {
  text-align: center;
  padding: 5px;
  margin: 12px;
  box-shadow: 0 0 3px black;
  height: 50%;
  width: 40%;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
}

.category-table {
  overflow: auto;

}
