.lowBalance {
  background-color: #ff4569;
}

.highBalance {
  background-color: #6fbf73;
}

.balance {
  width: max-content;
  height: 10%;
  margin: 20px;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  box-shadow: 0 0 3px  black;
}

.transactions-table {
  margin: 15px;
  margin-left: 5rem;
  margin-right: 5rem;
}
